{
    "printWidth": 100,
    "semi": true,
    "useTabs": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "proseWrap": "never",
    "eslintIntegration": true
}
